<% include('../layouts/header.ejs') %>
<% include('../../content/css/registration.css') %>
<div class="wrapper">

    <!---- Title Text ---->

    <div class="title-text">
       <div class="title login">
          Forgot Password
       </div>
    </div>

    <div class="form-container">
        
        <div class="form-inner">

            <!---- Login ---->
            <form action="" method="post" class="forgot">
                <div class="field">
                    <input type="password" name="password" minlength="7" maxlength="16" onkeydown="return/[a-z,0-9]/i.test(event.key)"placeholder="Password" required>
                    <input type="hidden" name="user_id" value="<%= user_id %>">
                 </div>
                 <div class="field">
                    <input type="password" name="confirmpassword" minlength="7" maxlength="16" onkeydown="return/[a-z,0-9]/i.test(event.key)" placeholder="Confirm password" required>
                 </div>

                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");

</script>

<% include('../layouts/footer.ejs') %>