<% include('../layouts/header.ejs') %>
<% include('../../content/css/registration.css') %>
<div class="wrapper">

    <!---- Title Text ---->

    <div class="title-text">
       <div class="title login">
          Login
       </div>
       <div class="title signup">
          Signup
       </div>
    </div>

    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
        </div>
        
        <div class="form-inner">

            <%
                if(typeof message !== 'undefined') {
                    %>
                        <h4><%= message %></h4>
                    <%
                }

            %>

            <!---- Login ---->
            <form action="/login" method="post" class="login">
                <div class="field">
                    <input type="email" name="email" maxlength="30" placeholder="email">
                </div>
                <div class="field">
                    <input type="password" name="password" minlength="6" maxlength="16" onkeydown="return/[a-z,0-9]/i.test(event.key)"placeholder="Password">
                </div>
                <div class="pass-link">
                    <a href="/register">Not a user? Register here</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");

    // signupBtn.onclick = (()=>{
    // loginForm.style.marginLeft = "-50%";
    // loginText.style.marginLeft = "-50%";
    // });
    // loginBtn.onclick = (()=>{
    // loginForm.style.marginLeft = "0%";
    // loginText.style.marginLeft = "0%";
    // });
    // signupLink.onclick = (()=>{
    // signupBtn.click();
    // return false;
    // });

    const passwordInput = document.querySelector('form.signup input[name="password"]');
    const confirmPasswordInput = document.querySelector('form.signup input[name="confirmpassword"]');
    const signUpButton = document.querySelector('form.signup input[type="submit"]');
    //below two codes added by me to try to catch errors
    const logInButton = document.querySelector('form.login input[type="submit"]');
    const loginPasswordInput = document.querySelector('form.login input[name="password"]');

    confirmPasswordInput.addEventListener('keyup', () => {
    if (passwordInput.value !== confirmPasswordInput.value) {
    confirmPasswordInput.setCustomValidity("Passwords don't match");
    } else {
    confirmPasswordInput.setCustomValidity('');
    }
    });

    signUpButton.addEventListener('click', () => {
    if (passwordInput.value !== confirmPasswordInput.value) {
    confirmPasswordInput.setCustomValidity("Passwords don't match");
    } else {
    confirmPasswordInput.setCustomValidity('');
    }
    });


</script>

<% include('../layouts/footer.ejs') %>